<div class="strato-footer-container">
	<footer class="strato-footer">
		<aside class="strato-footer__aside">
			<a href="/" class="strato-footer__logo-link">
				<img src="/img/logo.svg" alt="Stratobooster Logo" class="strato-footer__logo-image" height="53" width="188" />
			</a>
			<a href="mailto:{{.Params.footer.email}}" class="strato-footer__emailLink">{{.Params.footer.email}}</a>
			<small class="strato-footer__copyright">&copy; StratoBooster Ltd</small>
		</aside>
		<section class="strato-footer__content">
			<a class="strato-footer__buttonLink" href={{.Params.header.buttonLink}} target="_blank">{{.Params.header.button}}</a>
		</section>
	</footer>
</div>
<script src="https://unpkg.com/twitter-fetcher@18.0.2/js/twitterFetcher_min.js"></script>
<script src="/app.js"></script>
</body>
</html>
