<nav class="strato-nav-container">
	<a href="/" class="strato-header__logo-link">
		<img src="/img/logo.svg" alt="Stratobooster Logo" class="strato-header__logo-image" height="80" width="285" />
	</a>
	<ul class="strato-nav">
		<li class="strato-nav__element">
			<a href="#" class="strato-nav__link">Why a Balloon?</a>
		</li>
		<li class="strato-nav__element">
			<a href="#" class="strato-nav__link">Our Story</a>
		</li>
		<li class="strato-nav__element">
			<a href="#" class="strato-nav__link">Meet the Team</a>
		</li>
	</ul>
</nav>
