<div class="strato-social">
  <div class="strato-social__twitter">
    <h3 class="strato-social__heading">Join the conversation</h3>
    <div id="strato-social__twitter-list"></div>
  </div>
  <div class="strato-social__news">
    <h3 class="strato-social__heading">In the press</h3>
    {{ range $element := $ }}
      <div class="strato-social-news__item">
        <h4 class="strato-social-news__heading">{{$element.heading}}</h4>
        <p class="strato-social-news__text">{{$element.text}}</p>
        <a class="strato-social-news__link" href={{$element.link}} target="_blank">Read full story</a>
      </div>
    {{ end }}
  </div>
</div>